@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro Regular"), local("Gotham-Pro-Regular"), url("./fonts/GothamPro.woff2") format("woff2"), url("./fonts/GothamPro.woff") format("woff"), url("./fonts/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro Medium"), local("Gotham-Pro-Medium"), url("./fonts/GothamPro-Medium.woff2") format("woff2"), url("./fonts/GothamPro-Medium.woff") format("woff"), url("./fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block {
  max-width: 300px;
  height: 450px;
  margin: 20px auto;
  -webkit-box-shadow: 5px 5px 15px #999;
          box-shadow: 5px 5px 15px #999;
  padding: 20px;
  font-family: 'GothamPro', sans-serif;
}

.block-diagram {
  border-top-left-radius: 10px;
  border: 1px solid #9d9d9d;
  border-right: none;
  height: 180px;
  width: 220px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
}

.block-rating {
  border-bottom-left-radius: 10px;
  border: 1px solid #9d9d9d;
  border-right: none;
  border-top: none;
  height: 40px;
  width: 220px;
  margin: 0 auto;
  position: relative;
}

.diagram {
  background: #fff;
  position: absolute;
  width: 200px;
  height: 200px;
  top: -70px;
  right: 0;
}

.diagram-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.diagram .icon {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  fill: #ccc;
}

.diagram .svg {
  width: 200px;
  height: 200px;
  fill: none;
  stroke-width: 5;
  stroke-linecap: round;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
  stroke-dasharray: 566;
  stroke-dashoffset: 60;
}

.diagram .svg .grey {
  stroke: #ececec;
}

.diagram .svg .green {
  stroke: #70a74b;
  stroke-dasharray: 566;
  stroke-dashoffset: 566;
  -webkit-animation: green 3s ease-in-out forwards;
          animation: green 3s ease-in-out forwards;
}

.diagram .svg .yellow {
  stroke: #fbd229;
  stroke-dasharray: 566 566;
  stroke-dashoffset: 566;
  -webkit-animation: yellow 3s ease-in-out 1s forwards;
          animation: yellow 3s ease-in-out 1s forwards;
}

.content {
  font-family: 'Arial', sans-serif;
}

.content-percent .number {
  font-size: 28px;
  margin-bottom: 4px;
}

.content-percent .number small {
  font-size: 14px;
}

.content-percent .number span {
  position: relative;
}

.content-percent .number span::after {
  content: '%';
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 12px;
  color: #ccc;
}

.content-percent .loyalty {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}

.content-level {
  color: #fbd229;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.content-info {
  font-size: 8px;
  color: #ccc;
  margin-bottom: 5px;
}

.content-number {
  color: #70a74b;
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.content-number::before {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  border: 5px solid transparent;
  border-bottom: 5px solid #70a74b;
}

.rating {
  background: #fff;
  position: absolute;
  width: 200px;
  right: 0;
  top: -30px;
  padding: 5px;
}

.rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.rating-block-status {
  font-weight: 600;
  width: 40%;
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.rating-block-numbers {
  font-size: 10px;
  width: 20%;
  margin-right: 5px;
  margin-bottom: 10px;
}

.rating-block-numbers .percent {
  font-weight: 600;
  text-align: right;
}

.rating-block-numbers .quantity {
  color: #9d9d9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
}

.rating-block-numbers .quantity-icon {
  width: 10px;
  height: 10px;
}

.rating-block-diagram {
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9;
  margin-bottom: 10px;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
}

.rating-block-diagram .top-part {
  height: 85%;
}

.rating-block-diagram .bottom-part {
  height: 15%;
}

.rating-block-diagram .number-part {
  position: absolute;
  right: 10px;
  width: 20px;
  font-size: 10px;
  top: 45%;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.promo .top-part {
  background: #70a74b;
  width: 41%;
}

.promo .bottom-part {
  background: #b5d0a2;
  width: 38%;
}

.sceptic .top-part {
  background: #fbd229;
  width: 50%;
}

.sceptic .bottom-part {
  background: #fae691;
  width: 47%;
}

.critic .top-part {
  background: #ed5243;
  width: 38%;
}

.critic .bottom-part {
  background: #f3a69e;
  width: 42%;
}

@-webkit-keyframes green {
  from {
    stroke-dashoffset: 566;
  }
  to {
    stroke-dashoffset: 247;
  }
}

@keyframes green {
  from {
    stroke-dashoffset: 566;
  }
  to {
    stroke-dashoffset: 247;
  }
}

@-webkit-keyframes yellow {
  from {
    stroke-dashoffset: 566;
  }
  to {
    stroke-dashoffset: 364;
  }
}

@keyframes yellow {
  from {
    stroke-dashoffset: 566;
  }
  to {
    stroke-dashoffset: 364;
  }
}
